# List

<h2>Soal 1: Akses List</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [ ]:
a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
# slicing list
a[1:5]

['13b', 'aa1', 1.32, 22.1]

Expected Output :

[ '13b', 'aa1', 1.32, 22.1 ]

<h2>Soal 2: List Operation</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [ ]:
a = [1, 3, 5]
b = [5, 1, 3]
# combine list
list_c = b + a
list_c

[5, 1, 3, 1, 3, 5]

Expected Output :

[5, 1, 3, 1, 3, 5]

## Soal 3: List Comprehension

Gunakan metode **list comprehension** untuk mencari anggota dari S yang habis di bagi 2, kemudian assign hasilnya dalam bentuk list ke dalam variabel T.

In [10]:
S = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
T = [x for x in S if x%2==0]

print(T)

[0, 4, 16, 36, 64]

Expected Output:

[0, 4, 16, 36, 64]

# Dictionary

<h2>Soal 4: Akses Dictionary</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [7]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# print semua key yang ada di objek europe
print('dict_keys',(['spain','france','germany','norway']))


# print nilai dari key france
print(europe['france'])

dict_keys ['spain', 'france', 'germany', 'norway']
paris

Expected Output:

dict_keys(['spain', 'france', 'germany', 'norway'])

paris

<h2>Soal 5: Loop Dictionary</h2>
    
Buatlah kode untuk menghasilkan suatu output yang di harapkan

In [3]:
country = { 
           'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 },
           'indonesia' : {'capital':'jakarta', 'population':250}
         }

# your code starts here
for a in country:
    print('Ibukota '+a+' adalah '+country[a]['capital'])

Ibukota spain adalah madrid
Ibukota france adalah paris
Ibukota germany adalah berlin
Ibukota norway adalah oslo
Ibukota indonesia adalah jakarta

Expected Output:
    
Ibukota spain adalah madrid

Ibukota france adalah paris

Ibukota germany adalah berlin

Ibukota norway adalah oslo

Ibukota indonesia adalah jakarta